.filterSection {
  background-color: rgb(7, 7, 7);
  margin: auto;
  margin: 15vh 0 15vh 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.3em;

}
.filterSection h2 {
  background-color: rgb(7, 7, 7);
  padding-top: 5vh;

}

.filterSection ul{
  background-color: rgb(7, 7, 7);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  height: 50px;
  padding-bottom: 5vh;
}

li {list-style: none;
  background-color: rgb(7, 7, 7);

}

a{
text-decoration: none;
}

.bluebutton {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 0.5rem;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
  text-align: center;
}

#bluebutton:hover,#bluebutton:focus, #bluebutton:active {
  color: #ffffff;
  background: #008cff;
  border: 1px solid #008cff;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #008cff,
              0 0 20px #008cff,
              0 0 50px #008cff,
              0 0 100px #008cff;
}

.whitebutton {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 0.5rem;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#whitebutton:hover,#whitebutton:focus, #whitebutton:active {
  color: #ffffff;
  background: #ffffff;
  border: 1px solid #c7c7c7;
  text-shadow: 0 0 5px #9a9a9a,
              0 0 10px #9a9a9a,
              0 0 20px #9a9a9a;
  box-shadow: 0 0 5px #ffffff,
              0 0 20px #ffffff,
              0 0 50px #ffffff,
              0 0 100px #ffffff;
}

.redbutton {
  padding: 10px 20px;
  text-transform: uppercase;
  border-radius: 8px;
  font-size: 0.5rem;
  font-weight: 500;
  color: #ffffff80;
  text-shadow: none;
  background: transparent;
  box-shadow: transparent;
  border: 1px solid #ffffff80;
  transition: 0.5s ease;
  user-select: none;
}

#redbutton:hover,#redbutton:focus, #redbutton:active {
  color: #ffffff;
  background: #9c0538;
  border: 1px solid #9c0538;
  text-shadow: 0 0 5px #ffffff,
              0 0 10px #ffffff,
              0 0 20px #ffffff;
  box-shadow: 0 0 5px #c50a49,
              0 0 20px #c50a49,
              0 0 50px #c50a49,
              0 0 100px #c50a49;
}
